@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glass-panel {
  @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-xl dark:bg-black/40 dark:border-white/10;
}

.custom-gradient {
  @apply bg-gradient-to-br from-indigo-500 via-purple-500 to-pink-500;
}